.buildtools/
bin/
obj/
TestResults/
*.csproj.user
*.suo
*.nupkg

# project.json
*.lock.json
.vs
*.user

# ======================= #
# umm (Node.js) generated #
# ======================= #
/node_modules/
/Assets/Modules*
/package-lock.json
/yarn.lock
